*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#e7e7e7;
}

.page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:500px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.header{
    background:#d62b2b;
    color:white;
    text-align:center;
    padding:20px;
}

.header h1{
    font-size:22px;
    margin-bottom:5px;
}

.header p{
    font-size:14px;
    margin-bottom: 10px;
}

.search {
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.search input {
    width: 80%;
}

input {
    padding-left: 20px;
}

.btn-add {
    background-color: rgb(246,125,2);
    color: white;
    padding: 6 px;
    margin: 10px;
}

button {
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

#todoList{
    list-style:none;
    padding:20px;
}

.todo-item{
    background:#f4edd2;
    border-left:5px solid orange;
    padding:14px;
    margin-bottom:10px;
    border-radius:6px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    cursor:pointer;
}

.done{
    background:#dff0df;
    border-left:5px solid green;
    text-decoration:line-through;
    transform: translateY(-10px);
}

.done span {
    color: #595959;
}

.footer{
    text-align:center;
    padding:15px;
    font-size:13px;
    color:#666;
}